				<div id="footer">
					<div class="footerNav">
						<a href="#">关于我们</a>
						|
						<a href="#">服务条款</a>
						|
						<a href="#">免责声明</a>
						|
						<a href="#">网站地图</a>
						|
						<a href="#">联系我们</a>
					</div>
					<div class="copyRight">Copyright ©2010-2014洋洋创意网络工作室 版权所有</div>
				</div>

			</div>
		</div>
	</div>
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<script src="media/js/bootstrap.min.js"></script>
	<script src="media/js/main.js"></script>
</body>
</html>