<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>bcty网上社区</title>
	<link href="media/css/bootstrap.min.css" rel="stylesheet">
	<link href="media/css/base.css" rel="stylesheet">
	</head>
<body>
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">首页</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">首页</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#">技术支持</a>
						</li>
						<li>
							<a href="#">在线订购</a>
						</li>
						<li>
							<a href="#">升级下载</a>
						</li>
						<li>
							<a href="#">社区论坛</a>
						</li>
						<li>
							<a href="#">购买须知</a>
						</li>
						<li>
							<a href="#">软件下载</a>
						</li>
						<li>
							<a href="#">联系我们</a>
						</li>
					</ul>
				</div>
				
			</nav>
			
			<div id="top">
				<div id="topBar">
					<div class="userPanel">
					<{if !isset($usernc)}>
						<form id="loginform">
							<ul>
								<li>用户名：
									<input type="text" placeholder="用户名" name="usernc">
								</li>
								<li>
								密码：
									<input type="password" placeholder="密码" name="userpwd">
								</li>
								<li>
								验证码：
									<input type="text" placeholder="验证码" name="xym">
								</li>
								<li>
									<img src="libs/captcha.php" alt="" onclick="javascript:this.src='libs/captcha.php?time='+Math.random();">
								</li>
								<li>
									<button id="login" class="btn btn-default" type="button">登陆</button>
								</li>
								<li><a href="register.php">注册</a></li>
								<li><a href="">找回密码</a></li>
								<li>今天是：<{$now}></li>
							</ul>
						</form>
						<{else}>
						<ul>
							<li>用户名：
								<{$username}>
							</li>
							<li>
							<a href="" class="a4">更改注册信息</a>
							</li>

							<li><a href="user.php?action=logout" class="a4">退出登录</a></li>
							<li>今天是：<{$now}></li>
						</ul>
						<{/if}>
					</div>
				</div>
				
			</div>