<{include file="header.html"}>
<div class="row clearfix">
	<div class="col-sm-4 col-md-4 column">
		<div class="list-group">
			<a href="" class="list-group-item active">网站公告</a>
			<{foreach from=$infos key=k item=v}>
			<div class="list-group-item">
				<a href="<{$v.id}>"><{$v.title}></a>
			</div>
			<{/foreach}>			
		</div>
		<div class="list-group">
			 <a href="" class="list-group-item active">软件下载</a>
			<{foreach from=$infouwzs key=k item=v}>
			<div class="list-group-item">
				<a href="<{$v.id}>"><{$v.softname}></a>
			</div>
			<{/foreach}>
		</div>
	</div>
	<div class="col-sm-8 col-md-8 column">
		<div class="media">
		<h3>编程辞典简介</h3>
			 <a href="#" class="pull-left"><img id="ciimg" src="media/image/b1.gif" class="media-object" alt='' /></a>
			<div class="media-body">
				<{$infobj.content}>
			</div>
		</div>
		<div class="media">
		<h3>编程辞典推荐</h3>
		<{foreach from=$infonewbccds item=v key=k}>
			<div class="media-body">
			<a href="#" class="pull-left"><img height=170 width=140 src="<{$v.imageaddress}>" class="media-object" alt='' /></a>
				<ul>	<li>名称：<{$v.bccdname}></li>

				<li>所属版本：<{$v.bbname}></li>
				<li>价格：<{$v.price}>元</li>
				<li>版权：<{$v.owner}></li>
				<li>添加时间：<{$v.addtime}></li></ul>
			</div>
			<{/foreach}>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-4 column">
	<h3>常见问题</h3>
		<img alt="140x140" src="http://www.uades.com/tool/bootStrapLayoutit/skin/img/140.jpg" class="pull-left" />
		<ul class="pull-left col-md-7">
		<{foreach from=$infocjwts item=v key=k}>
			<li>
				<{$v.question}>
			</li>
			<{/foreach}>
		</ul>
	</div>
	<div class="col-md-4 column">
	<h3>社区论坛</h3>
		<img alt="140x140" src="http://www.uades.com/tool/bootStrapLayoutit/skin/img/140.jpg" class="pull-left"/>
		<ul class="pull-left col-md-7">
			<{foreach from=$infobbss item=v key=k}>
			<li>
				<{$v.title}>
			</li>
			<{/foreach}>
		</ul>
	</div>
	<div class="col-md-4 column">
	<h3>升级下载</h3>
		<img alt="140x140" src="http://www.uades.com/tool/bootStrapLayoutit/skin/img/140.jpg" class="pull-left" />
		<ul class="pull-left col-md-7">
			<{foreach from=$infosjxzs item=v key=k}>
			<li>
				<{$v.name}>
			</li>
			<{/foreach}>
		</ul>
	</div>
</div>
<{include file='footer.html'}>